@import '@/scss/var';
@import '@/scss/reset';
@import '@/scss/mixins';

.x-close-btn {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 1;
  cursor: pointer;

  &.header-modal-close {
    .x.close {
      position: static;
    }
  }

  .x.close {
    color: var(--x-close-color, $titleOfGrupsCol);
    font-weight: 600;
    transition: color 0.2s ease-in-out;
    position: fixed;
    top: 20px;
    left: 12px;
  }

  &:hover .x.close {
    color: var(--x-close-hover-color, $white);
  }

  &:focus {
    outline: none;
  }
}
