/* parcials */
@import '@/scss/var';
@import '@/scss/reset';
@import '@/scss/mixins';

.promo-img {
  width: 100%;

  @media (max-width: 768px) {
    &.tablet {
      padding: 90px 0 0;
      background-color: $header-col1;
    }
  }
}
.cont {
  position: relative;
  button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 17%;
    left: 12%;
    font-size: 1.3rem;
    padding: 10px 25px;
    background-color: $btnCol;
    border: none;
    cursor: pointer;
    transition:
      background-color 0.2s,
      transform 0.2s;
    @media (max-width: 580px) {
      font-size: 0.8rem;
      padding: 5px 12.5px;
    }

    &:hover {
      background-color: $btnColHover;
      transform: scale(1.01);
    }
    i {
      margin-right: 10px;
      font-size: 1.1rem;
      font-size: 0.7rem;
    }
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
}
