/* parcials */
@import '@/scss/var';
@import '@/scss/reset';
@import '@/scss/mixins';

$height-input-search: 36px;

.ia-chat-btn {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  height: 26px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-50%) scale(1.15);
  }
}

nav,
ul {
  @include flex(row, flex-end, center);
  padding: 0;
  li {
    margin-left: 20px;

    @media (max-width: 600px) {
      &.tablet {
        display: none;
      }
    }

    a {
      color: $white;
      font-size: 1.3rem;
      @include flex(row, center, center);
      img {
        width: 26px;
        display: inline-block;
      }
      .arrow {
        @include equilateral-triangle(down, 5px, $white);
        margin-left: 4px;
      }
    }
    i,
    select {
      color: $white;
      cursor: pointer;
    }
    &.search-item {
      position: relative;
      .input-wrap {
        position: absolute;
        right: calc(100% + 20px);
        top: 50%;
        transform: translateY(-50%);
        height: $height-input-search;
        input {
          height: $height-input-search;
          padding: 0 65px 0 39px;
          font-size: 1.1rem;
          background-color: $searchBarCol;
          color: $white;
          border-radius: 5px;
          &:focus {
            border: none;
          }
          @media (max-width: 350px) {
            width: 150px;
          }
        }
        &::before {
          position: absolute;
          top: 50%;
          right: 3px;
          transform: translateY(-25%);
          @include pseudo();
          @include equilateral-triangle(down, 3px, $brand);
        }
        select {
          border: none;
          position: absolute;
          top: 0;
          right: 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: '';
          background-color: transparent;
          @include width-height(18%, 100%);
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}