/* parcials */
@import '@/scss/var';
@import '@/scss/reset';
@import '@/scss/mixins';
.cont {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  @include flex(row, center, center);
  flex-shrink: 0;
  color: $white;
  .avatar-wrap {
    @include flex(row, center, center);
    @include width-height(100%, 41%);
    .avatar-card {
      @include width-height(20%, 100%);
      @include flex(column, flex-satrt, center);
      img {
        min-width: 200px;
        width: 100%;
        cursor: pointer;
      }
      h2 {
        cursor: pointer;
        margin-top: 7px;
        font-size: 2rem;
      }
    }
  }
}
